<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="safepass.css" />>
<title>SafePass: Password Manager</title>
</head>
<body>
<div align="center">
    <h1>Password List</h1>
    <a id='newPass'href="/new">Add New Password</a>
    <br/><br/>
    <table id='accounts' border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Password ID</th>
                <th>Platform</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="passwd: ${listPasswds}">
                <td th:text="${passwd.passwordID}">Password ID</td>
                <td th:text="${passwd.platform}">Platform</td>
                <td th:text="${passwd.passwordUsername}">Username</td>
                <td th:text="${passwd.passwordVal}">Password</td>
                <td>
                    <a th:href="@{'/edit/' + ${passwd.passwordID}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${passwd.passwordID}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>