<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link th:href= "@{/safepass.css}" rel="stylesheet" />
    <title>Edit Password</title>
</head>
<body>
    <div align="center">
        <h1>Edit Password</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${passwd}"
            method="post">
 
            <table border="0" cellpadding="10">     
                <tr>             
                    <td>Platform:</td>
                    <td>
                        <input type="text" th:field="*{platform}" />
                    </td>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" th:field="*{passwordUsername}" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" th:field="*{passwordVal}" /></td>
                </tr>                           
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>